* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

.social {
    color: #AAA;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 13px;
}

.social > :first-child li {
    display: flex;
    padding: 15px 17px;
    border-left: 1px #f2f2f2 solid;
}
.social > :first-child {
    border-bottom: 1px #f2f2f2 solid;
    display: flex;
    margin: 0px 60px;
}

.social h4 {
    font-weight: 400;
    margin-left: 10px;
}

.social> :first-child> :nth-child(2) {
    border-right: 1px #f2f2f2 solid;
}

.social> :first-child> :nth-child(11) {
    border-right: 1px #f2f2f2 solid;
}

#go {
    margin-left: auto;
}
.nav{
    display: flex;
    margin: 0px 80px;
}
.social a{
    display: inline-block;
}
.social h1 > a {
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    color: #ff432e;
    font-size: 40px;
    font-weight: 400;
}
#go2{
    margin-left: auto;
}
.nav > li{
    padding: 25px 15px;
    margin-right: 1px;
    font-size: 16px;
}
.nav > li > a{
    color: #6b6b6b;
}
.banner{
    background-image: url(../images/sulfur/banner.jpg);
    background-size: cover;
    background-position-y: -80px ;
}
.banText{
    background-color: rgba(0, 0, 0 ,0.5);
    background-size: cover;
    background-position-y: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banText > div{
    display: flex;
    justify-content: center;
}
.banText > div > h1{
    font-size: 50px;
    text-transform: uppercase;
    font-family:  'Oswald', sans-serif;
    letter-spacing: 5px;
    color: white;
    padding-top: 230px;
}
.banText > div > :last-child{
    margin-left: 15px;
    color: #ff432e;
}
.banText > h3{
    font-size: 30px;
    font-family:  'Oswald', sans-serif;
    width: 700px;
    text-align: center;
    color: white;
    margin: 50px 0px;
    letter-spacing: 3px;
    font-weight: 400;
}
.banText > button{
    font-size: 16px;
    color: white;
    text-transform: capitalize;
    border: 1px white solid;
    background-color: #ff432e;
    padding: 18px 25px;
    margin-bottom: 170px;
}
.about > h1{
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    font-size: 40px;
    text-align: center;
    text-decoration:line-through 3px;
    margin-top: 100px;
}
.content{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content > div > div{
    font-family:  'Oswald', sans-serif;
    background-color: white;
    width: 400px;
    font-size: 16px;
    position: relative;
    top: -150px;
    padding: 10px 15px;
    margin-left: 13px;
}

.content > :first-child p{
    margin-bottom: 20px;
}
.content > :last-child{
    font-family:  'Oswald', sans-serif;
    width: 640px;
    line-height: 25px;
    margin-left: 20px;
    font-size: 16px;
    color: #6b6b6b;
}
.content > :last-child > :first-child{
    border-bottom: 1px #ff432e solid;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.content > :last-child > :nth-child(2){
    border-bottom: 1px #ff432e solid;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.content h3{
    text-transform: uppercase;
    font-weight: 400;
}
.content li{
    margin-top: 5px;
}
.text{
    padding: 75px 0px;
    font-size: 30px;
    font-family:  'Oswald', sans-serif;
    background: url('../images/sulfur/call-to.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 90%;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}
.team{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}
.team > div{
    display: flex;
    justify-content: space-evenly;
}
.team > div > div {
    position: relative;
    width: 262px;
    height: 262px;
    background-size: cover;
}

.team > div > div > div {
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 67, 46, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.team > div > div:hover > div{
    visibility: visible;
}
.Portfolio{
    background-color: #f2fffc;
    text-align: center;
    padding: 100px 0px 150px;
}
.Portfolio > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Portfolio > div > div {
    position: relative;
    width: 262px;
    height: 262px;
    background-size: cover;
}

.Portfolio > div > div > div {
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 67, 46, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.Portfolio > div > div:hover > div{
    visibility: visible;
}
.services{
    text-align: center;
}
.services > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.services > div > div{
    width: 20%;
    margin: 10px;
}
.services i{
    border: 1px black solid;
    border-radius: 50%;
    font-size: 40px;
    padding: 25px;
}
